.wrapper-product {
    padding-bottom: 40px;
  }
  
  .sidebar-category {
    margin-bottom: 60px;
  }
  
  .banner {
    background-image: url(//bizweb.dktcdn.net/100/432/370/themes/894869/assets/breadcrumb.png?1665454509075);
    padding: 245px 0px 0;
    background-repeat: no-repeat;
    min-height: 300px;
    z-index: 1;
    background-size: cover;
    position: relative;
    margin-bottom: 30px;
  }
  
  .path {
    text-align: center;
    color: white;
  }
  
  .divier {
    padding: 0 10px;
  }
  
  .all-product {
    color: var(--color-primary);
  }