.box-service {
    background-color: #f9f2e0;
    padding: 80px 0;
}

.custom-service1 {
    background-image: url("//bizweb.dktcdn.net/100/432/370/themes/894869/assets/bg_itemsv_1.png?1676276556806");
    height: 450px;
    border-radius: 8px;
    padding: 55px 35px 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-service {
    font-size: 21px;
    margin-bottom: 35px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}



.img-hand {
    padding-right: 10px;
    height: 100%;
}

.content-service {
    list-style: none;
    padding-left: 0px;
}

.item-service {
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 22px;
    position: relative;
    padding-left: 35px;
}

.item-service::before {
    background-image: url(//bizweb.dktcdn.net/100/432/370/themes/894869/assets/bg_list_sv.png?1665454509075);
    width: 19px;
    height: 20px;
    top: 3px;
    left: 5px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    content: "";

}



.custom-service2 img {
    height: 450px;
    width: 100%;
}

.custom-service3 {
    background-image: url("//bizweb.dktcdn.net/100/432/370/themes/894869/assets/bg_itemsv_2.png?1676276556806");
    height: 450px;
    border-radius: 8px;
    padding: 55px 35px 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-service3 .item-service::before {
    background-image: url(//bizweb.dktcdn.net/100/432/370/themes/894869/assets/bg_list_sv_2.png?1665454509075);
    width: 19px;
    height: 20px;
    top: 3px;
    left: 5px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    content: "";

}

@media (max-width: 991px) {
    .title-service {
        font-size: 14px;

    }

    .custom-service1 {
        height: auto;
        padding: 10px 10px 0;

    }

    .custom-service3 {
        height: auto;

        padding: 10px 10px 0;

    }

    .item-service {
        font-size: 11px;
        margin-bottom: 10px;
        padding-left: 25px;
        line-height: 18px
    }

    .item-service::before {
        width: 14px;
        height: 17px;
    }

    .custom-service3 .item-service::before {
        width: 14px;
        height: 17px;


    }

    .custom-service2 img {
        max-height: 273px;
        width: 100%
    }

    .title-service {
        margin-bottom: 10px;
    }
    .box-service {
        padding: 70px 0;
    }
}

@media (max-width: 768px) {
    .custom-service2 {
        display: none;
    }

    .custom-service1 {
        margin-bottom: 25px;
    }

    .item-service {
        font-size: 14px;

    }

    .title-service {
        font-size: 18px;
    }
    .box-service {
        padding: 60px 0;
    }
}