.accessory-item {
    padding: 30px;
    background-color: white;
    // max-width: 415px;
    border-radius: 10px;
}
.sale-price {
    color: #ef1515;
    font-size: 18px;
    font-weight: 700;
    padding-right: 10px;
}

.compare-price {
    font-size: 14px;
    text-decoration: line-through;
}
.quick-view {
    
}

.custom-btn {
    margin-right: 10px;
}
.custom-btn span {
    padding-left: 0 !important;
} 
